@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/bebas-neue/BebasNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter.ttf') format('truetype');
  font-weight: 400 500 600 700;
  font-style: normal;
  font-display: swap;
}

.h1,
h1,
.h2,
h2,
.h3,
h3 {
  font-family: 'Bebas Neue';
  letter-spacing: -0.05em;
}

// ========================================
// =============== HEADINGS ===============
// ========================================
.h1,
h1 {
  font-size: clamp(38px, 5vw, 70px);
  line-height: clamp(38px, 5vw, 70px);
}

.h2,
h2 {
  font-size: clamp(26px, 5vw, 48px);
  line-height: clamp(26px, 5vw, 48px);
}

.h3,
h3 {
  font-size: 24px;
  line-height: 24px;
}

// ========================================
// ============== PARAGRAPHS ==============
// ========================================
.p1 {
  font-size: clamp(26px, 5vw, 30px);
  line-height: clamp(26px, 5vw, 30px);
}

p,
.p2 {
  font-size: 20px;
  line-height: 24px;
}

.p3 {
  font-size: 16px;
  line-height: 18px;
}

.font-bebas-neue {
  font-family: var(--font-bebas-neue);
}

.font-poppins {
  font-family: var(--font-poppins);
}
